server {
    listen {{ nginx_listen_port }};
    server_name {{ nginx_server_name }};

    root {{ lighthouse_install_dir }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}